@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a href="c:\users\11947\onedrive\it\t3\web\entertainmentguild\entertainmentguild\views\home\privacy.cshtml">c:\users\11947\onedrive\it\t3\web\entertainmentguild\entertainmentguild\views\home\privacy.cshtml</a>